<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Blog de Viajes | Agregar</title> 
        <link  rel="icon"   href="../images/logo.png" type="image/png" />
        <link rel="stylesheet" href="../stylesheets/styles.css">
        <script src="../javascripts/ckeditor5-build-classic/ckeditor.js"></script>
    </head>
    <%- include ('../partials/header_privado') %>
    <body>
        <main class="m-auto bg-light text-dark p-md-5">
            <h1>Agregar publicación</h1>
            <hr>
            <% if(mensaje && mensaje.length > 0){ %>
                <div class="alert alert-warning mt-3"><span class="fa fa-info-circle fa-fw"></span> <%=mensaje%></div>
            <% } %>

            <div class="col-sm-6">
                <form action="/admin/procesar_agregar" method="post">
                    <fieldset>
                        <legend>
                            Datos de la publicación
                        </legend>
                        <div class="mb-3">
                            <label for="titulo" class="form-label">Título</label>
                            <input type="text" id="titulo" required="true" class="form-control" name="titulo">
                        </div>
                        <div class="mb-3">
                            <label for="resumen" class="form-label">Resumen</label>
                            <textarea id="resumen" required="true" class="form-control" name="resumen"></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="contenido" class="form-label">Contenido</label>
                            <textarea id="contenido" class="form-control" name="contenido"></textarea>
                        </div>
                        <button class="btn btn-warning mb-2" type="submit">Publicar</button>
                    </fieldset>
                </form>
                <script>
                    ClassicEditor
                      .create(document.querySelector('#contenido'), {
                        toolbar: ['heading', '|', 'bold', 'italic', 'link', 'bulletedList', 'numberedList', 'blockQuote'],
                        heading: {
                          options: [
                            { model: 'paragraph', title: 'Paragraph', class: 'ck-heading_paragraph' },
                            { model: 'heading1', view: 'h1', title: 'Heading 1', class: 'ck-heading_heading1' },
                            { model: 'heading2', view: 'h2', title: 'Heading 2', class: 'ck-heading_heading2' }
                          ]
                        }
                      })
                      .catch(error => {
                        console.error(error);
                      });
                  </script>
            </div>
        </main>

        <%- include ('../partials/footer_privado') %>
        <script src="/javascripts/script.js"></script>
        <script src="/javascripts/bootstrap.bundle.min.js"></script>
    </body>
</html>