<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Blog de Viajes</title> 
        <link  rel="icon"   href="../images/logo.png" type="image/png" />
        <link rel="stylesheet" href="../stylesheets/styles.css">
    </head>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light d-flex flex-lg-column">
            <div class="container-fluid">
                <a href="/" class="navbar-brand m-auto">
                    <img src="../images/logo.png" alt="logo del blog" class="m-auto" width="100" height="100">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse text-center text-dark" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item my-1">
                            <a href="/admin/index" class="navbar-brand"><span class="container"><i class="fa fa-user fa-fw"></i></span><%=usuario%></a>
                        </li>
                        <li class="nav-item">
                            <a href="/logout" class="btn btn-warning"> Cerrar sesión</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <body>
        <main class="m-auto bg-dark text-light p-md-5">
            Ha ingresado con éxito
        </main>


        <script src="javascripts/script.js"></script>
        <script src="javascripts/bootstrap.bundle.min.js"></script>
    </body>
</html>