<footer>
    <div class="footer bg-light text-center fixed-bottom">
        <a href="https://www.rms-tech.site">
        <img src="images/logo-RMS.png" alt="logo de rms tech" width="30" height="30"></a>
        <p class="m-auto text-muted">Todos los derechos reservados &copy;</p>
    </div>
    
</footer>